body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    padding-bottom: 1.5em;
    text-align: center;
    position: relative; /* Nécessaire pour positionner l'image */
}

.roundFlagHeader {
    position: absolute; /* Permet de positionner l'image indépendamment du flux normal du document */
    
    top: 0; /* Aligne l'image en haut */
    height: 100%; /* Fait en sorte que l'image prenne toute la hauteur du header */
    object-fit: cover; /* Assure que l'image garde ses proportions */
}

#leftFlag{left: 0;}
#rightFlag{left: 87%;}

nav{
    position: relative;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}


#global_map {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#global_map h2 {
    text-align: center;
}

#hint_mouse {
    text-align: center;
    font-style: italic;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
    width: 100%;
    bottom: 0;
}

#bgNLImage {
    width : 80%;
    margin: 10%;
    margin-top: 3%;
}
.container {
    position: relative;
}


.point {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    border: solid 2px black;
    transition: transform 0.3s;
}

.point:hover {
    transform: scale(1.5);
}

.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    pointer-events: none;
    display: none; /* Caché par défaut */
    transform: translate(-50%, -120%); /* Positionné au-dessus du point */
    width: 150px;
}

.point:hover .tooltip {
    display: block; /* Affiché au survol */
}
.pointDescription{
    font-size: 0.5em;
    text-align: justify;
}